@font-face {
    font-family: 'arca_majora_3bold';
    src: url('../fonts/arcamajora3-bold.woff2') format('woff2'),
         url('../fonts/arcamajora3-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arca_majora_3heavy';
    src: url('../fonts/arcamajora3-heavy.woff2') format('woff2'),
         url('../fonts/arcamajora3-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #FDFDFD;
  font-family: 'Didact Gothic', sans-serif;
  color: #353535;
}


div .navbar {
  width: 100%;
  height: 75px;
  top: 0px;
  position: absolute;
  z-index: 999;
  background-color: #FDFDFD;
  opacity: 0.8;


}
a .navlink {
  color:  #30343F;
  font-size: 100px !important;

}

/* nav {
  background-color:  #FDFDFD;
  font-size: 14px;
  width: 100%;
  height: 75px;

}

nav a {
  color:  #30343F !important;
  font-size: 30px !important;
} */

h1 {
  font-size: 150px;
  font-family: 'arca_majora_3heavy', sans-serif;
  color: #30343F;
}

h2, h3 {
  font-size: 100px;
  font-family: 'arca_majora_3heavy', sans-serif;
  color: #4A5259;
}
h4 {
  font-size: 75px;
  font-family: 'arca_majora_3heavy', sans-serif;
  color: #4A5259;
}

div .section{
  position: relative;
}

.container {
  padding-top: 70px;
  padding-bottom: 70px;
}

div .home {
  padding: 25px 100px 25px;
}


div .about {
    padding: 25px 100px 25px;
}
div .work{
    padding: 2px 0 25px;
}

div .description {
  padding: 25px 100px 10px;
}

div .skills{
    padding: 25px 100px 25px;
}
div .contact{
    padding: 25px 100px 25px;
}


div .projecticon {
  max-height: auto;
  max-width: 500px;
}

div .devicon {
font-size: 3em;
float: none;
margin: 0 auto;
}

div .color1{

   background-color: #EAEAEA;
 }

div .color2{
    background-color: #D4D4D4;
  }

div .contacticon {
  max-width: 100%;
  font-size: 10rem;
  text-decoration: none;
}

img .contactme {
 position: absolute;
 max-width: 10%;
 left: 0;
 bottom: 300px;
 margin: 0 auto;
}
p {
   font-size: 20px;
 }

 h5 {
   font-size: 45px !important;
 }

a {
  color: #4A5259;
}

a:hover {
  color: #4A5259;
   text-decoration: none;
 }

p a:hover {
  color: #4A5259;
  text-decoration: underline;
}
