@font-face {
    font-family: 'arca_majora_3bold';
    src: url('../fonts/arcamajora3-bold.woff2') format('woff2'),
         url('../fonts/arcamajora3-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arca_majora_3heavy';
    src: url('../fonts/arcamajora3-heavy.woff2') format('woff2'),
         url('../fonts/arcamajora3-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #FDFDFD;
  font-family: 'Didact Gothic', sans-serif;
  color: #353535;

}

h1 {
  font-size: 400px;
  font-family: 'arca_majora_3heavy', sans-serif;
  color: #30343F;
}
h2 {
  font-size: 200px;
  font-family: 'arca_majora_3heavy', sans-serif;
  color: #4A5259;
}
h4 {
  font-size: 300px;
}
div .section {
      height: 100vh;
      overflow: auto;
}

p .me {
  font-size: 100px;

}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
div .projecticon {
  max-height: auto;
  max-width: 300px;
}

div .devicon {
font-size: 2.5em;
float: none;
margin: 0 auto;
}

div .contacticon {
  max-width: 100%;
  font-size: 10rem;
}
p {
   font-size: 55px;
 }


a {
  color: #4A5259;
}

a:hover {
  color: #4A5259;
   text-decoration: none;
 }

p a:hover {
  color: #4A5259;
  text-decoration: underline;
}


.section{
    font-size: 6em;
    text-align: center;
}

.navbar {
  width: 100%;
  height: 75px;
  top: 0px;
  position: absolute;
  z-index: 999;
  color: #4A5259;
  opacity: 0.8;

}

 .navbar a {
  color: #FDFDFD;
  font-size: 14px;
}
